@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* font-family: "Passion One", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* font-family: "Sriracha", cursive; */

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Passion One", sans-serif;
    --fonte03: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: var(--fonte02);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte03);
    font-size: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;

}

section > p {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagem {
    background-color: black;
    color: white;
    background-attachment: fixed;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.573);
    display: inline-block;
    padding: 5px;
}

#imagem01 {
    background-image: url(/desafios/d12/imagens/background001.jpg);
    background-position: right center;
}

#imagem02 {
    background-image: url(/desafios/d12/imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}